/number-portability-sdk-samples/    export-ignore
/img/                               export-ignore
/keys/                              export-ignore
/setup/                             export-ignore
/.gitattributes                     export-ignore
/.gitignore                         export-ignore
/.gitlab-ci.yml                     export-ignore
/.make-release-support              export-ignore
/.release                           export-ignore
/composer.lock                      export-ignore
/docker-compose.*                   export-ignore
/Dockerfile                         export-ignore
/Makefile                           export-ignore
/**/test/                           export-ignore
